.Banner-container {
    display: relative;
    width: 100%;
    background-image: url('https://e0.pxfuel.com/wallpapers/694/232/desktop-wallpaper-sharing-is-caring-half-of-all-gofundme-donations-are-for-medical-charity.jpg');
    background-size: cover;
    padding-bottom: 600px;
  }